.service_wrapper{
    width: 100%;
    height: 584px;
    background: url('../../assets/bg/service_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -3;
}

.text_wrapper {
    text-align: center;
    margin-top: 200px;
    color: #FFFFFF;
}

.service_header {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}

.service_text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 30px;
    opacity: 0.72;
}

.search_form_button {
    margin-top: 40px;
    background: rgba(145, 158, 171, 0.08);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    align-items: center;
    padding: 8px;
    gap: 20px;
    width: 760px;
    height: 58px;
    margin-left: 25%;
}

.service_input_email, .service_input_website{
    position: relative;
    align-items: center;
    background: transparent;
    border-radius: 8px;
    border: none;
    padding-right: 14.5%;
    padding-left: 50px;
}

.search_form_button label > img {
    position: absolute;
    z-index: 2;
    top: 19px;
    bottom: 10px;
}

.service_img_email {
    left: 25px;
}

.service_img_divider {
    left: 328px;
    bottom: 50px;
}

.service_img_website{
    right: 390px;
}

.service_button_analyse {
    background: #FA541C;
    border-radius: 8px;
    align-items: center;
    padding: 11px 22px;
    border: none;
}


.service_content_wrapper {
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
}

.service_content_header {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #212B36;
    margin-bottom: 25px;
}

.service_content_text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #637381;
    margin-bottom: 25px;
}

.service_lists {
    margin-bottom: 40px;
}

.service_lists li {
    padding-bottom: 10px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #212B36;
    margin-left: 5%;
}

.service_content_button {
    cursor: pointer;
}

.service_learn {
    position: relative;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: #212B36;
    border: 1px solid rgba(145, 158, 171, 0.32);
    border-radius: 8px;
    padding: 11px 22px;
    margin-right: 220px;
}

.service_content_button img {
    position: absolute;
    right: 515px;
    bottom: -600px;
}

.service_include {
    margin-top: 250px;
}

.service_include_header {
    text-align: center;
}

.service_include_header h2 {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #212B36;
    margin-bottom: 25px;
}

.service_include_header p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #637381;
}

.service_include_icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(75% + 80px);
    text-align: center;
    margin-top: 80px;
    margin-left: 10%;
}

.service_include_icons > div {
    margin-bottom: 120px;
}

.service_include_icons h3 {
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #212B36;
    margin-top: 40px;
}

.service_include_icons p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #637381;
    margin-top: 18px;
}

.benefits_wrapper {
    background: #F9FAFB;
    width: 100%;
}
.benefits_header {
    text-align: center;
}

.benefits_header h2 {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #212B36;
    padding-top: 120px;
}

.benefits_header p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #637381;
    margin-top: 25px;
}

.management_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.management_wrapper h2 {
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #212B36;
}

.management_wrapper p {
    margin-bottom: 80px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 26px;
    color: #637381;
}

.circle_wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
}

.circle_wrapper_center_right, .circle_wrapper_center_left {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
}

.circle_wrapper_center_right {
    margin-left: 10%;
}

.circle_wrapper_center_left {
    margin-left: -10%;
}

.circle_text_center_left {
    margin-left: -10%;
}

.circle_text_center_right {
    margin-left: 10%;
}

.works_wrapper {
    background: #161C24;
}

.works_wrapper h3 {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.works_wrapper p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.72;
}

.works_header_wrapper {
    text-align: center;
}

.works_header_wrapper h2 {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    padding-top: 130px;
}

.works_header_wrapper p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.72;
    margin-top: 25px;
}

.works_step_orange {
    text-align: center;
    margin: 85px 0 4px 3%;
}

.works_step_yellow {
    text-align: center;
    margin: 7px 0 4px 3.7%;
}

.works_step_blue {
    text-align: center;
    margin: 7px 3.9% 4px 0;
}

.works_step_green {
    text-align: center;
    margin: 7px 3.9% 4px 0;
}

.works_orange {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FA541C;
    margin-left: 1%;
}

.works_blue {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #22B8CF;
    margin-right: 1%;
}

.works_yellow {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFC81A;
    margin-left: 1%;
}

.works_green {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #0CD66E;
    margin-right: 1%;
}

.planning_wrapper_green {
    display: flex;
    justify-content: center;
    margin-right: 25.5%;
    padding-bottom: 150px;
}

.planning_wrapper_green div {
    margin-right: 2%;
}

.planning_wrapper_green h3 {
    margin-left: 65%;
}

.planning_wrapper_blue {
    display: flex;
    justify-content: center;
    margin-right: 25.5%;
}

.planning_wrapper_blue div {
    margin-right: 2%;
}

.planning_wrapper_blue h3 {
    margin-left: 59%;
}

.planning_wrapper_orange {
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

.planning_wrapper_orange div {
    margin-left: 2%;
}

.planning_wrapper_yellow {
    display: flex;
    justify-content: center;
    margin-left: 25.2%;
}

.planning_wrapper_yellow div {
    margin-left: 2%;
}

.work_slide_wrapper {
    background: #F9FAFB;
}

.header_slide {
    text-align: center;
    padding-top: 120px;
}

.header_slide span {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #919EAB;
}

.header_slide h2 {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #212B36;
    margin-top: 16px;
}

.work_slider {
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
    padding-bottom: 100px;
}

.posts_wrapper h2 {
    margin-top: 120px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #212B36;
}

.posts_slider {
    margin-top: 80px;
    padding-bottom: 200px;
    text-align: center;
    font-size: 60px;
}

.form_wrapper {
    width: 100%;
    height: 624px;
    background: url("../../assets/bg/bg_form.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.form_content {
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
}

.form_content_header h2 {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FA541C;
    padding-bottom: 65px;
}

.form_icon_text {
    display: flex;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.form_icon_text p {
    padding-left: 10px;
}

.form_input input{
    display: block;
    margin-bottom: 20px;
    background: rgba(145, 158, 171, 0.08);
    border-radius: 8px;
    border: none;
    padding: 14px 370px 16px 12px;
}

.form_input input::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #919EAB;
}

.form_input button {
    margin-top: 20px;
    color: #FFFFFF;
    padding: 11px 33px;
    background: #FA541C;
    border-radius: 8px;
    border: none;
}

.sign_wrapper {
    background: #F9FAFB;
    border-bottom: 2px solid rgba(145, 158, 171, 0.24);;
}

.form_sign_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
    align-items: center;
}

.form_sign_icon_text {
    display: flex;
    align-items: center;
}

.form_sign_icon_text img {
    margin-right: 24px;
}

.form_sign_icon_text h3 {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #212B36;
    padding-bottom: 8px;
}

.form_sign_icon_text p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #637381;
}

.sign_input_button input {
    background: rgba(145, 158, 171, 0.08);
    border-radius: 8px 0px 0px 8px;
    border: none;
    padding: 15px 280px 15px 12px;
}

.sign_input_button input::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #919EAB;
}

.sign_input_button button {
    color: #FFFFFF;
    background: #FA541C;
    border-radius: 0px 8px 8px 0px;
    border: none;
    padding: 15px 22px;
}

.footer span {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #637381;
    padding-bottom: 32px;
}

.footer_logo {
    margin-top: 82px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.footer_text_icons p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #637381;
}

.footer_icons {
    margin-top: 35px;
}

.footer_icons img {
    padding-left: 20px;
    padding-bottom: 90px;
}

.footer_icons img:first-child {
    padding-left: 10px;
} 

.footer_icon_text {
    display: flex;
    padding-bottom: 16px;
}

.footer_icon_text p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #212B36;
    padding-left: 11px;
}

.footer_form_button {
   padding-bottom: 180px;
}

.footer_form_button input{
    background: rgba(145, 158, 171, 0.08);
    border-radius: 8px;
    border: none;
    padding: 11px 150px 12px 12px;
}

.footer_form_button input::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #919EAB;
}

.footer_form_button img {
    background: #FA541C;
    border-radius: 8px;
    padding: 15px 18px 15px 21px;
    margin-bottom: -18px;
    margin-left: 8px;
}

.footer_text_right {
    padding-left: 45%;
}