.wrapper{
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.menu_sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 274px;
}

.menu_link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #637381;
    text-decoration: none;
}

.login{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #212B36;
    cursor: pointer;
}

.join_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 83px;
    height: 36px;
    background: #212B36;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.down_wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 350px;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid gray;
}

.down_wrapper::before{
    position: absolute;
    content: '';
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #fff;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
.down_link{
    text-decoration: none;
}

.menu_page{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #212B36;
    cursor: pointer;
}
.down_ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
